wwwroot/CitacionesJueces/App_WebReferences/wsImagCitac/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCitacImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codCitacion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCitacImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitacImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCitacTipoImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codCitacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCitacTipoImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCitacTipoImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLicenciaUserImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idPersona" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLicenciaUserImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLicenciaUserImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCitacImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetCitacImage" />
  </wsdl:message>
  <wsdl:message name="GetCitacImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitacImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetCitacTipoImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetCitacTipoImage" />
  </wsdl:message>
  <wsdl:message name="GetCitacTipoImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetCitacTipoImageResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenciaUserImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetLicenciaUserImage" />
  </wsdl:message>
  <wsdl:message name="GetLicenciaUserImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetLicenciaUserImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetCitacImage">
      <wsdl:input message="tns:GetCitacImageSoapIn" />
      <wsdl:output message="tns:GetCitacImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCitacTipoImage">
      <wsdl:input message="tns:GetCitacTipoImageSoapIn" />
      <wsdl:output message="tns:GetCitacTipoImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLicenciaUserImage">
      <wsdl:input message="tns:GetLicenciaUserImageSoapIn" />
      <wsdl:output message="tns:GetLicenciaUserImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCitacImage">
      <soap:operation soapAction="http://tempuri.org/GetCitacImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitacTipoImage">
      <soap:operation soapAction="http://tempuri.org/GetCitacTipoImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenciaUserImage">
      <soap:operation soapAction="http://tempuri.org/GetLicenciaUserImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCitacImage">
      <soap12:operation soapAction="http://tempuri.org/GetCitacImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCitacTipoImage">
      <soap12:operation soapAction="http://tempuri.org/GetCitacTipoImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLicenciaUserImage">
      <soap12:operation soapAction="http://tempuri.org/GetLicenciaUserImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/wsImagenesCitaciones/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/wsImagenesCitaciones/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>