PortalTrxCTG/Backup/PortalTrx/App_WebReferences/wsImagenesVehiculos/Vehiculos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFotoRevision">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="placa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFotoRevisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFotoRevisionResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFotoRevisionSoapIn">
    <wsdl:part name="parameters" element="tns:GetFotoRevision" />
  </wsdl:message>
  <wsdl:message name="GetFotoRevisionSoapOut">
    <wsdl:part name="parameters" element="tns:GetFotoRevisionResponse" />
  </wsdl:message>
  <wsdl:portType name="VehiculosSoap">
    <wsdl:operation name="GetFotoRevision">
      <wsdl:input message="tns:GetFotoRevisionSoapIn" />
      <wsdl:output message="tns:GetFotoRevisionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VehiculosSoap" type="tns:VehiculosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFotoRevision">
      <soap:operation soapAction="http://tempuri.org/GetFotoRevision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VehiculosSoap12" type="tns:VehiculosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFotoRevision">
      <soap12:operation soapAction="http://tempuri.org/GetFotoRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Vehiculos">
    <wsdl:port name="VehiculosSoap" binding="tns:VehiculosSoap">
      <soap:address location="http://10.30.1.7/wsImagenesCitaciones/Vehiculos.asmx" />
    </wsdl:port>
    <wsdl:port name="VehiculosSoap12" binding="tns:VehiculosSoap12">
      <soap12:address location="http://10.30.1.7/wsImagenesCitaciones/Vehiculos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>